.WebTorrent {}

.videoTorrent::cue {
    background-color: #D3FFC0;
    color: #FFC0CB;
    outline-style: solid;
    outline-color: #FF5D7A;
    font-size: 32px;
    font-family: "Times New Roman", cursive;
}