.App {
  text-align: center;
}

.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(8px + 1vmin);
  color: gray;
}

.search-bar {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.torrent-dropzone {
  height: 50vh;
  width: 80vw;
  text-align: center;
  justify-content: center;
  display: flex;
  align-items: center;
  border: 2px dashed gray;
  padding: 10px;
}